@inject AuthenticationStateProvider _provider;

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FiveOhFirstMock</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="orbat" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> ORBAT
            </NavLink>
        </li>
        <AuthorizeView Policy="RequireSlotted">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="mysquad">
                        <span class="oi oi-plus" aria-hidden="true"></span> My Squad
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="roster">
                <span class="oi oi-circle-check" aria-hidden="true"></span> Roster
            </NavLink>
        </li>
        <AuthorizeView Policy="RequireClerk">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="roster/clerk">
                        <span class="oi oi-play-circle" aria-hidden="true"></span> Roster Clerk Home
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Policy="RequireInstructor">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/qualification/submit">
                        <span class="oi oi-clipboard" aria-hidden="true"></span> Qual Submission Form
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
