<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <b>@Name Company</b>
        <CompanyStaff Company="Company" />
    </div>
</div>
<CascadingValue Value="Name" Name="CompanyName">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            @* First Platoon *@
            <PlatoonListing Platoon="Company.Platoons[0]" Number="1" />
        </div>
        <div class="col-sm-12">
            @* Second Platoon *@
            <PlatoonListing Platoon="Company.Platoons[1]" Number="2" />
        </div>
        <div class="col-sm-12">
            @* Third Platoon *@
            <PlatoonListing Platoon="Company.Platoons[2]" Number="3" />
        </div>
    </div>
</CascadingValue>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public CompanyData Company { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
